# データ
/data/

# ログ
/logs/
*.log

# Pythonのコンパイル済みファイル
__pycache__/
*.pyc
*.pyo

# エディタ・IDEの設定
# 基本は無視するが、ユーザー向けの起動設定はリポジトリに含める
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json
.idea/
*.sublime-workspace

# ルートのビルド成果物
/build/
/dist/


# 仮想環境 (venvやpipenv)
venv/
.venv/
.env
.env.*

# Python ツールのキャッシュ
.pytest_cache/
.mypy_cache/
.ruff_cache/

# OS特有の不要ファイル
.DS_Store
Thumbs.db

# static/pdfjs/buildを除外
!static/pdfjs/build/
